@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@layer utilities {
  .text-shadow-brutal {
    text-shadow: 4px 4px 0px #000;
  }

  .text-shadow-brutal-lg {
    text-shadow: 6px 6px 0px #000;
  }
}
